*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container{
    display: flex;
    height: 100vh;
}

.dashboard{
    padding: 10px;
    width: 15%;
    color: white;
    background: linear-gradient(#BB79FF, #6D98FF,#BB79FF );
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    background: #F4F2FF;
}

.layout{
    display: grid;
    grid-gap: 30px;
    grid-template: 2fr 2fr 1fr 0.5fr 2fr / 35% 35% calc(30% - 60px);
    width: 90%;
    height: 90%;
}

.box{
    padding: 10px;
    border-radius: 10px;
    background: white;
}

.b-1{
    grid-column: 1 / 3;
    background: linear-gradient(to left, #BB79FF, #9B85FF,#6899FF );
}

.b-2{
    grid-area: 1 / 3 / 6 / 4;
}

.b-3{
    grid-area: 2 / 1 / 5 / 2;
}

.b-4{
    grid-area: 5 / 1 / 6 / 2;
}

.b-5{
    grid-area: 2 / 2 / 4 / 3;
}

.b-6{
    grid-area: 4 / 2 / 6 / 3;
}